* {
    margin: 0;
}

img {
	max-width: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16pt;
	background-color: #DAFDFD;
	color: black;
    margin: 0 auto;
    padding: 0 auto;
	max-width: 1000px;
	width: 100%;
}

#container {
	max-width: 1000px;
	width: 100%;
	margin: 0;
	padding: 0;
}

#logo {
	margin-left: 5px;
}

#potato {
	width: 100px;
	float: left;
}

header {
    background-color: #DAFDFD;
    max-width: 1000px;
	width: 100%;
    height: 210px;
    padding-bottom: 5px;
	padding-left: 15px;
	padding-top: 5px;
}

section {
    background-color: #FFFFFF;
    padding: 3px;
    float: left;
    margin-bottom: 10px;
}

article {
	width: 74.5%;
	float: left;
    padding: 5px;
}

aside {
    width: 24%;
    float: right;
}

aside li {
	padding-bottom: 8px;
}

h1 {
    width: 90%;
    height: 100px;
    padding-top: 60px;
    padding-left: 120px;
	font-size: 4.2em;
	font-family: 'Russo One', sans-serif;
    text-align: left;
}

nav ul {
    width: 90%;
    height: 100px;
    margin-top: 0px;
	margin-left: 106px;
	padding: 0px;
	text-align: left;
}

nav li {
	font-size: 2em;
    font-family: 'Russo One', sans-serif;
	display: inline;
	margin-left: 17px;
	text-decoration: none;
	text-align: center;
	margin-right: 17px;
	padding-right: 20px;
}

a {
    color: black;
	text-decoration: none;
}

li a {
    color: #22222F;
}

li a:hover {
    text-decoration: underline;
}

h2 {
    margin-top: 0px;
	margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 2.15em;
    font-family: 'Russo One', sans-serif;
	text-decoration: underline;
}

h4 {
	padding: 5px;
}

p {
    padding: 5px;
}

#foot {
    font-size: 0.875em;
    text-align: center;
}

.recent {
	padding: 3px;
	margin: 3px;
	margin-top: 10px;
}

.recent li {
	margin-left: -20px;
	font-size: 1.1em;
}

.recent a {
	color: #0000EE;
}

.post_img {
	border: 2px solid black;
	margin-right: 10px;
	margin: 5px;
	margin-top: 8px;
	width: 267px;
	display: table-header-group;
}

.post {
	background-color: #ffe1b9;
	border: 5px solid black;
	margin-right: 15px;
	margin-left: 10px;
	height: 180px;
	margin-bottom: 10px;
	display: table;
	width: 97%;
	border-spacing: 2px;
}

.post:hover {
	background-color: #e6c8a0;
}

.post h3 {
	font-size: 1.35em;
	text-decoration: underline;
	margin-top: 8px;
	margin-bottom: 8px;
	display: table-footer-group;
}

th {
	padding: 50px;
}

.accordion {
	font-size: 1em;
	margin-left: 10px;
	margin-right: 15px;
	background-color: #ffe1b9;
	display: block;
}

.accordion:hover {
	background-color: #e6c8a0;
}

#art_head {
    width: 98%;
    border: 2px solid black;
	background-color: #ffe1b9;
	font-size: 1em;
}

#art_text {
    padding: 10px;
	overflow-wrap: break-word;
	word-wrap: break-word;
	-ms-word-break: break-all;
	word-break: break-word;
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}

#art_text img {
	width: 100%;
}

#score img {
	width: 18%;
}

#tagline {
    margin-top: 0px;
    padding-left: 10px;
    font-style: italic
}

#date {
    margin-top: 0px;
    padding-left: 10px;
}

figure {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 5px;
	margin-top: 0px;
	margin-bottom: 0px;
    margin-left: 8px;
	margin-right: 10px;
}

figcaption {
    text-align: center;
	font-size: 12px;
}

#art_text ol {
    padding: 5px;
	margin-left: 20px;
}

#art_text li {
    padding: 5px;
    margin-left: 5px;
	line-height: 1.5;
}

#art_text p {
	padding-bottom: 15px;
    line-height: 1.5;
}

#art_text h3 {
	padding-bottom: 15px;
    line-height: 1.5;
}

#art_text a {
    color: #0000EE;
}

h3 {
    padding-top: 5px;
    padding-bottom: 5px;
}

#review_stats {
    padding: 5px;
	margin-left: 20px;
}

#archive {
	margin-bottom: 20px;
}

.panel {
	display: none;
	list-style: none;
}

.panel.show {
	display: block;
}

.panel.panel1 {
	margin-left: 10px;
}

.panel.panel2 {
	margin-left: 15px;
}

.panel ul {
	margin-top: 5px;
}

.panel li a {
	color: #0000FF;
	font-size: 1em;
}

.panel li a:hover {
	text-decoration: underline;
}

#disqus_thread {
    position: relative;
	padding: 5px;
}

#share_buttons {
	margin-top: 10px;
	margin-bottom: 10px;
	display: inline;
}

#share_buttons li {
	list-style: none;
	float: left;
	margin: 0px;
	padding: 5px;
}
	
#logo_links {
	margin-top: 5px;
	margin-bottom: 15px;
}

#logo_links img {
	width: 30%;
	padding: 2px;
}

.fb_iframe_widget span {
	vertical-align: baseline !important;
}

table, th, td {
	border: 1px solid black;
}

table {
	width: 100%;
}

td {
	padding: 3px;
}

@media (max-width: 1000px) {
	body {
		width: 100% !important;
	}
	#container {
		width: 100% !important;
	}
	#potato {
		width: 10vw !important;
	}
	header {
		height: 20vw !important;
		padding-right: 0 !important;
		width: auto !important;
	}
	aside {
		display: none !important;
	}
	section {
		max-width: 1000px !important;
		width: 100% !important;
		margin-top: 1% !important;
		padding: 0 !important;
	}
	article {
		max-width: 1000px !important;
		width: 95% !important;
	}
	h1 {
		font-size: 8.5vw !important;
		padding-top: 6%;
		padding-left: 12%;
		width: auto !important;
		height: auto !important;
	}
	h2 {
		font-size: 7vw !important;
	}
	nav {
		width: auto !important;
	}
	nav li {
		font-size: 4vw !important;
		padding-right: 0 !important;
		margin-right: 2% !important;
		margin-left: 2%;
	}
	nav ul {
		margin-left: 10.6% !important;
		height: auto !important;
		width: auto !important;
		margin-top: -5px !important;
	}
	#li_rss {
		display: none !important;
	}
	.post_img {
		width: 96% !important;
		height: auto !important;
		clear: left;
	}
	.post {
		height: auto !important;
		padding-right: 0 !important;
		margin-left: 0 !important;
		font-size: 4vw !important;
	}
}

table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after { 
    content: " \25B4\25BE" 
}

#archive table {
	border-collapse: collapse;
	background-color: #ffffff;
}

#archive th:hover {
	background-color: #eeeeee;
}

#archive a:hover {
	text-decoration: underline;
}

#archive a {
	color: #0000EE;
}

#archive th {
	padding: 20px;
}

#archive td {
	padding: 9px;
}